.top-container-left {
    display: flex;
    align-items: center;
}

.link-nav {
    font-family: 'Rubik', sans-serif;
    color: #040e27;
}

.link-nav:hover {
    color: var(--orange);
    transition: 0.3s;
}

.top-container-left a img {
    margin-right: 1.5em;
    width: 100px;

}
/* top container right */
.top-container-right {
    display: flex;
    align-items: center;
    
}
/* réseaux sociaux */
.top-container-right .socialnetwork i {
    margin: 11px;
    color: var(--violet);
    font-size: x-large;

}

.top-container-right .socialnetwork i:hover {
    color: var(--orange); 
    transition: 0.3s;
}

.top-container-right .socialnetwork {
    margin-right: 40px;
}

/* ------------------ */

.top-container-right .myaccount button i {
    margin: 11px;
    color: white;
    font-size: x-large;
   
}
.top-container-right .myaccount button {
    border: none;
    background-color: var(--violet);
    cursor: pointer;
    
    width: 100%;
    height: 100%;
}

.top-container-right .myaccount {
   width: 140px;
   height: 150px;
}