:root {
    
    --violet: #353472;
    --bleu: #F7FAFD;
    --orange: #FFA318;
    --lightorange: #FAC77A;
    --calendar: #FDAE5C;
    --newsletterbackground: #6A94BB;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

body {
    font-family: 'Rubik', sans-serif;
}

/* top container left */

.top-container-left {
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 1em;
    list-style: none;
    
}

ul {
    display: flex;
}

.link-nav {
    font-family: 'Rubik', sans-serif;
    color: #040e27;
}

.link-nav:hover {
    color: var(--orange);
    transition: 0.3s;
}

.top-container-left a img {
    margin-right: 1.5em;
    width: 100px;

}


/* top container right */
.top-container-right {
    display: flex;
    align-items: center;
    
}
/* réseaux sociaux */
.top-container-right .socialnetwork i {
    margin: 11px;
    color: var(--violet);
    font-size: x-large;

}

.top-container-right .socialnetwork i:hover {
    color: var(--orange); 
    transition: 0.3s;
}

.top-container-right .socialnetwork {
    margin-right: 40px;
}

/* ------------------ */

.top-container-right .myaccount button i {
    margin: 11px;
    color: white;
    font-size: x-large;
   
}
.top-container-right .myaccount button {
    border: none;
    background-color: var(--violet);
    cursor: pointer;
    
    width: 100%;
    height: 100%;
}

.top-container-right .myaccount {
   width: 140px;
   height: 150px;
}

/* --------------- */

/* Newsletter */

.newsletter {
    /* position */
    display: flex;
    justify-content: center;
    width: 100%;

    /* deco */
    background-color: var(--newsletterbackground);
    padding: 100px 100px;
    
}

.formNewsletter { 
    /* position */
    display: flex;
    margin: 0 auto;  
}

/* Slogan de newsletter */
.sentence-newsletter {
    /* position */
    margin-right: 2em;
    margin-top: 11px;

    /* font */
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 300;
    
}

/* Coche et son texte */
.formcheck {
    /* position */
    margin-right: 2em;

    /* deco */
    width: 380px;
}
.form-check {
    /* font */
    font-size: 14px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    color: white;  
}

/* Bouton submit et son hover */
#subscribe {

    /* deco */
    background-color: var(--orange);
    border: var(--calendar);
    border-radius: 3px;
    padding: 14px;
    height: 50px;
    cursor: pointer;

    /* fonts */
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    color: white;    
    text-transform: uppercase;
}
#subscribe:hover {
    transition: 0.3s;
    background-color: var(--lightorange);
}



/* Input email */
#mailInput {
    /* position */
    margin-right: 2em;

    /* deco */
    padding: 10px;
    padding-right: 150px;
    border: 1px solid white;
    border-radius: 3px;
    background-color: var(--newsletterbackground);

    /* fonts */
    font-size: 16px;
    font-weight: 300;
    color: white; 
}

#mailInput:focus {
    outline: none;
}

/* ---------------------- */

/* Correction d'un espacement non voulu */
.tempImg img {
    margin-bottom: -5px;
}



/*---------------------------------[ RESPONSIVE ]---------------------------------*/

/* Desktop: 1024px */
/* Tablet: 600px -> 1024px */
/* Mobile: 320 -> 600px  */


/* smartphone */
@media screen and (min-width: 0px) and (max-width: 1024px) {

    /* Menu burger de navigation */
    .burger-nav {
        width: 80px;
        background: none;
        border: none;
    }

    .burger-nav i {
        font-size: x-large;
        
    }
   

    nav, .socialnetwork {
        display: none;
    } 


    /* Newsletter */
    .formNewsletter { 
        display: flex;
        flex-direction: column;
    }
    #mailInput  {
        margin-bottom: 10px;
        width: 100%;
    }
    .formcheck {
        margin-bottom: 15px;
        width: 100%;
    }
    .sentence-newsletter {
        margin-bottom: 10px;
    }

    #subscribe {
        width: 100%;
    }
  
}





/* deskstop */
@media (min-device-width: 1025px) {
    button.burger-nav {
        display: none;
        

    } 
}

