:root {
    
    --violet: #353472;
    --bleu: #F7FAFD;
    --orange: #FFA318;
    --lightorange: #FAC77A;
    --calendar: #FDAE5C;
    --newsletterbackground: #6A94BB;
    --grayletter: #7A838B;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

body {
    font-family: 'Rubik', sans-serif;
}

/* top container left */

.top-container-left {
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 1em;
    list-style: none;
    
}

ul {
    display: flex;
}

.link-nav {
    font-family: 'Rubik', sans-serif;
    color: #040e27;
}

.link-nav:hover {
    color: var(--orange);
    transition: 0.3s;
}

.top-container-left a img {
    margin-right: 1.5em;
    width: 100px;

}


/* top container right */
.top-container-right {
    display: flex;
    align-items: center;
    
}
/* réseaux sociaux */
.top-container-right .socialnetwork i {
    margin: 11px;
    color: var(--violet);
    font-size: x-large;

}

.top-container-right .socialnetwork i:hover {
    color: var(--orange); 
    transition: 0.3s;
}

.top-container-right .socialnetwork {
    margin-right: 40px;
}

/* ------------------ */

.top-container-right .myaccount button i {
    margin: 11px;
    color: white;
    font-size: x-large;
   
}
.top-container-right .myaccount button {
    border: none;
    background-color: var(--violet);
    cursor: pointer;
    
    width: 100%;
    height: 100%;
}

.top-container-right .myaccount {
   width: 140px;
   height: 150px;
}

/* --------------- */

/* Newsletter */

.newsletter {
    /* position */
    display: flex;
    justify-content: center;
    width: 100%;

    /* deco */
    background-color: var(--newsletterbackground);
    padding: 100px 100px;
    
}

.formNewsletter { 
    /* position */
    display: flex;
    margin: 0 auto;  
}

/* Slogan de newsletter */
.sentence-newsletter {
    /* position */
    margin-right: 2em;
    margin-top: 11px;

    /* font */
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 300;
    
}

/* Coche et son texte */
.formcheck {
    /* position */
    margin-right: 2em;

    /* deco */
    width: 380px;
}
.form-check {
    /* font */
    font-size: 14px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    color: white;  
}

/* Bouton submit et son hover */
#subscribe {

    /* deco */
    background-color: var(--orange);
    border: var(--calendar);
    border-radius: 3px;
    padding: 14px;
    height: 50px;
    cursor: pointer;

    /* fonts */
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    color: white;    
    text-transform: uppercase;
}
#subscribe:hover {
    transition: 0.3s;
    background-color: var(--lightorange);
}



/* Input email */
#mailInput {
    /* position */
    margin-right: 2em;

    /* deco */
    padding: 10px;
    padding-right: 150px;
    border: 1px solid white;
    border-radius: 3px;
    background-color: var(--newsletterbackground);

    /* fonts */
    font-size: 16px;
    font-weight: 300;
    color: white; 
}

#mailInput:focus {
    outline: none;
}

/* ---------------------- */

/* Correction d'un espacement non voulu */
.tempImg img {
    margin-bottom: -5px;
}

/* Zone de recherche */

/* top parent */
.container-search {
    /* position */
    padding: 50px;
    text-align: center;

    /* deco */
    background-color: var(--violet);
    
    
    
}
#where, #price, #when {
    
    height: 47px;
    padding-left: 10px;
    margin-right: 10px;
    background-color: var(--violet);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-family: "Rubik", sans-serif;
    cursor: pointer;
}

.slogan-search {
    font-family: "Rubik", sans-serif;
    color: white;
    font-size: 24px;
    font-weight: 400px;
    margin-right: 70px;
}

.fa-chevron-down {
    margin-left: 50px;
    padding-right: 10px;
}

#searchSubmit {

     /* deco */
     background-color: var(--orange);
     border: var(--calendar);
     border-radius: 3px;
     padding: 14px;
     height: 50px;
     cursor: pointer;
 
     /* fonts */
     font-family: 'Rubik', sans-serif;
     font-weight: 700;
     color: white;    
     text-transform: uppercase;

    
}

#searchSubmit:hover {
    transition: 0.3s;
    background-color: var(--lightorange);
}


/* H1 des meilleurs offres de voyage */
.container-titleslogan {
    margin: 0 auto;
    text-align: center;
}
.bestplan{
    margin-bottom: 1em;
}
.bestplan-slogan {
    color: #7A838B;
}
/* ----------------------------------- */

/* box type */

.travel-box {
    /* border: 1px solid red; */
    width: 450px;
    border-radius: 10px;
    transition: 00.3s;
    height: auto;
    position: relative;
    margin: 15px;
}


.super-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.travel-bottom {
    margin: 0 auto;
    width: 400px;
}


.travel-box:hover {
    box-shadow: 1px 1px 25px gray;
    transition: 00.3s;
}

.travel-top img {
    width: 100%;

   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
    
}


.destination {
    margin-right: 10px;
}

.container-destination {
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 7px;
}

.container-duration {
    
   
    
}

.container-time {
    margin-top: 13px;
    margin: 0 auto;
}



.description-travel {
    color: var(--grayletter);
}



.fa-clock-o {
    margin-right: 5px;
}
.duration {
    color: var(--grayletter)
}

/* Les tags dans les boites de voyage */

.price-tag {
    
    background-color: var(--violet);
    padding: 10px 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;

    position: absolute;
    top: 16px;
    left: 16px;
    

}

.vip-tag {

    background-color: var(--orange);
    padding: 10px 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;

    position: absolute;
    top: 16px;
    right: 16px

}





.container-time {
    display: flex;
    justify-content: space-between;
}

.fa-calendar-days {
    color: var(--calendar);
    margin-right: 5px;
}

.fa-clock {
    background-color: white;
}

.vol {
    margin-top: 5px;
    background-color: var(--violet);
    padding: 3px 3px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
}



/*---------------------------------[ RESPONSIVE ]---------------------------------*/

/* Desktop: 1024px */
/* Tablet: 600px -> 1024px */
/* Mobile: 320 -> 600px  */


/* smartphone */
@media screen and (min-width: 0px) and (max-width: 1024px) {

    /* Menu burger de navigation */
    .burger-nav {
        width: 80px;
        background: none;
        border: none;
    }

    .burger-nav i {
        font-size: x-large;
        
    }
   

    nav, .socialnetwork {
        display: none;
    } 


    /* Newsletter */
    .formNewsletter { 
        display: flex;
        flex-direction: column;
    }
    #mailInput  {
        margin-bottom: 10px;
        width: 100%;
    }
    .formcheck {
        margin-bottom: 15px;
        width: 100%;
    }
    .sentence-newsletter {
        margin-bottom: 10px;
    }

    #subscribe {
        width: 100%;
    }

    .container-search {
        display: flex;
        flex-direction: column;
        
    }

    #where, #price, #when, .slogan-search {
        margin-bottom: 1em;
        display:  flex;
        justify-content: space-between;
        align-items: center;
    }

    #searchSubmit  {
        width: 50%;
    }

    .travel-box {
        width: 350px;
    }


  
}
/* deskstop */
@media (min-device-width: 1025px) {
    button.burger-nav {
        display: none;
        

    } 
}

